@import url(//fonts.googleapis.com/css?family=Oswald);
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-color: #1b2836;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header, .button {
  font-family: 'Oswald';
  color: #fffffa;
}

.header {
  letter-spacing: 4pt;
  font-size: 3rem;
}

.select{
  font-family: 'Oswald';
  color: white;
  font-size: 2rem
}

.info{
  font-family: 'Oswald';
  color: white;
  font-size: 1rem
}

.button {
  letter-spacing: 2pt;
  color: #ba1b1d;
  background: white;
  border: white;
  outline:0;
  font-size: 24px;
  margin-top:auto;
}

.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
